@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --licblue: #1e2875;
  --globalPadding: 3rem; /* globalized padding */
  --navHeight: 86px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.row {
  margin: 0 auto;
  padding: 0 0 0 var(--globalPadding);
}

img {
  width: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER styles */
.header__banner {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: var(--licblue);
}

.header__banner--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 var(--globalPadding);
}

.banner__left {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 12px;
  opacity: 0.9;
}

.banner__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.banner__login {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.9;
}

.banner__contact {
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 0.15rem;
}

.banner__contact:hover {
  background: #539599;
}

.banner__search {
}

nav {
  height: 86px;
  position: relative;
  z-index: 10;
  /* background-color: var(--licblue); */
}

.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  background: #1c225d;
  z-index: 1000000;
}

.scrolled + .header__hero {
  /* sibling offset */
  margin-top: 0; /* keep layout from jumping when nav becomes fixed */
}

.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 var(--globalPadding);
  border-bottom: 1px solid #b1bdd0;
  /* max-width: 1200px; */
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  height: 60px;
  width: 390px;
}

.nav__list {
  display: flex;
  align-items: center;
  display: none;
}

.nav__list--item {
  height: var(--navHeight);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.025em;
  position: relative;
}

.nav__list--item:hover,
.nav__list--item:hover i,
.nav__list--item:hover .list-item__title,
.nav__list--item:hover .list-item__title i {
  color: #8dd2e2;
}

.list-item__title {
  display: flex;
  align-items: center;
}

.nav__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(28, 34, 93, 0.9);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.nav__list :last-child .nav__dropdown {
  left: auto;
  right: 0;
} /*  last nav list item is pushed inwards to prevent breakage  */

.nav__list--item:hover .nav__dropdown,
.nav__list--item:focus-within .nav__dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav__dropdown li {
  white-space: nowrap;
}

.nav__dropdown li a:hover {
  color: #8dd2e2;
  opacity: 1;
}

.nav__dropdown li a {
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

/*  */

.fa-chevron-down {
  margin-left: 0.4rem;
}

.header__hero {
  position: relative;
  padding-top: 86px;
  margin-top: -87px;
  height: calc(100vh - 63px);
}

.videom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}

.hero {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  padding: 3rem;
}

.hero__panels {
}

.panel {
  display: block;
  width: 33px;
  height: 110px;
  margin: 21px -15px;
  border: none;
  cursor: pointer;
  opacity: 0.25;
}

.panel::after {
  background: #b1bdd0;
  content: "";
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 3px;
}

.panel.active {
  opacity: 1;
}

.hero__container {
  padding: 114px 0 40px 100px;
}

.hero__title {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  letter-spacing: -0.055em;
  font-family: "Montserrat", sans-serif;
}

.hero__booking {
  padding-top: 1.5rem;
}

.hero__booking a,
.main__booking a {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.hero__booking a::after {
  background-image: url("assets/teal-arrow.svg");
}

.main__booking a {
  color: #1c225d;
}

.main__booking a::after {
  background-image: url("assets/aqua-arrow.svg");
}

.hero__booking a::after,
.main__booking a::after {
  content: "";
  width: 56px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left center;
  display: inline-block;
  flex: 0 0 auto;
  margin-left: 8px;
}

.hero__booking:hover a::after,
.hero__booking a:hover::after,
.main__booking:hover a::after,
.main__booking a:hover::after {
  animation: heroBookingPulse 200ms ease;
}

@keyframes heroBookingPulse {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 70% auto;
  }
  100% {
    background-size: 100% auto;
  }
}

/* HEADER */

/* MAIN */

.main__container,
.main__header {
  display: flex;
}

.main__container {
  flex-direction: column;
}

.main__left,
.main__right .main__right--box {
  color: black;
  background-color: #f1f2f3;
  width: 50%;
  min-height: 360px;
  border-left: 1px solid #b1bdd0;
  border-top: 1px solid #b1bdd0;
}

.main__left,
.main__right,
.main__right--box {
  display: flex;
}

.main__left,
.main__right {
  width: 50%;
}

.main__left {
  flex-direction: column;
  padding: 3rem;
}

.main__left--container {
  display: flex;
  flex-direction: column;
}

.main__left--h1,
.main__left--p {
  color: var(--licblue);
}

.main__left--h1,
.approach__left--h1 {
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 125%;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
}

.main__left--p,
.approach__left--p {
  font-size: 18px;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-align: justify;
}
.main__right {
  flex-wrap: wrap;
  margin-top: -100px;
}

.main__right--box {
  padding: 32px 48px;
}

.box__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-h3 {
  font-size: 28px;
  color: var(--licblue);
  font-weight: 600;
}

.box-img {
  width: 60px;
  opacity: 0.25;
}

.main__approach {
  display: flex;
}

.approach__left {
  width: 50%;
  background-color: #1c225d;
  border: 1px solid #457C80;
}

.approach__right {
  width: 50%;
  overflow: hidden;
}

.approach__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.approach__left--container {
  padding: 64px 99px 64px 48px;
  display: flex;
  flex-direction: column;
}
/* MAIN */

/* FOOTER */
.footer__container {
  background-color: var(--licblue);
  text-align: center;
}

.footer__img {
  padding: 2rem 0;
}

.footer__iframe {
  border: none;
  width: 100%;
  height: 460px;
  max-width: 812px;
  border-radius: 0.25rem;
}

.copyright {
  padding: 1rem 0;
  background-color: #1c225d;;

}



/* FOOTER */

/* Media Queries */

@media (min-width: 1200px) {
  /* header queries */
  .nav__list {
    display: flex;
  }
}
